<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br>
        <form>
            <input placeholder="Location" required>
            <button type="submit">Search</button>
        </form>
        <p></p>
    </div>

    {{>footer}}

    <script src="/js/script.js"></script>
</body>
</html>